body {
  background-color: whitesmoke;
}

/*header*/
header {
  width: 100%;
  color: white;
  background-image: url("../images/header/Banniere.jpg");
  background-size: cover;
  height: 400px;
}
header .choix img {
  width: 50px;
}

header > .choix {
  display: flex;
  padding: 20px;
}

header > .choix > .choixGauche {
  display: flex;
  gap: 50px;
  margin-left: 50px;
}

header > .choix > .choixDroite {
  margin-left: auto;
  margin-right: 50px;
}

header > .choix > .choixDroite > .git {
  background-size: cover;
}

header > .choix a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.moi {
  display: flex;
  gap: 50px;
}

.moi p {
  font-size: 30px;
}

header .moi img {
  margin-left: 15%;
}

/*section Qui je suis ?*/
.Moi {
  border: 2px solid black;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  margin-top: -50px;
  background-color: white;
  font-size: 20px;
}

/*section projet*/

.proj {
  display: flex;
  gap: 50px;
}

.proj a {
  text-decoration: none;
  color: blue;
}

.proj > .projet {
  margin-left: auto;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.proj .web {
  display: flex;
  flex-direction: column;
}

.proj > .projet > img {
  width: 100px;
  display: flex;
  margin: auto;
}

.proj > .projet > .web > img {
  width: 100px;
  margin: auto;
}

.secProjet > h1 {
  text-align: center;
}

.secProjet {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

/*footer*/
footer {
  background-color: rgb(13, 13, 90);
  color: white;
  width: 100%;
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}

footer img {
  width: 50px;
}

footer .reseaux {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-right: 30px;
  text-align: center;
}

footer .cont {
  display: flex;
}

footer .contenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .info {
  margin: auto;
}

footer .reseaux img {
  margin: auto;
}

footer h3 {
  text-align: center;
}

footer .Contact {
  padding-left: 50px;
}
