body {
  background-color: #1f2833;
}

.contenu {
  background-color: #c5c6c7;
  border: 2px solid black;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}

.contenu a {
  text-decoration: none;
  text-align: center;
}

.contenu .imgPresentation {
  width: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.projet {
  flex-wrap: wrap;
}

h1,
h2 {
  text-align: center;
}

h1 {
  color: #66fcf1;
}

.separe {
  display: flex;
  flex-direction: row;
}

.separe > img {
  width: 50px;
}

.separe .lang {
  width: 50px;
}
span {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}

.telecharger {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #1f2833;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
  color: #c5c6c7;
}

.telecharger img {
  width: 50px;
}

.selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}
.selection a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: #c5c6c7;
  margin: auto;
  width: 100px;
  padding: 10px;
}

button {
  background-color: #1f2833;
  color: #c5c6c7;
  font-size: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 10px;
  width: 75%;
  border-radius: 30px;
}

button:hover,
.telecharger:hover,
.selection a:hover {
  background-color: #45a29e;
  color: black;
}

.bouton {
  text-align: center;
}
